In [1]:
var1 = 10
print('var1: ', var1)

var2 = 20
print('var2: ', var2)

var3 = var4 = 30
print('var3: ', var3)
print('var4: ', var4)

var1:  10
var2:  20
var3:  30
var4:  30

In [2]:
print(1 + 2)
print(var1 + var2)
print(var1 * var2)

3
30
200

In [3]:
bab = 5
print("배가 고파서 밥을 %s 그릇 먹었어요" %bab)

배가 고파서 밥을 5 그릇 먹었어요

In [13]:
math = 20
eng = 10
print("내 영어점수는 %s점이고 수학점수는 %s점이다." %(eng, math))

내 영어점수는 10점이고 수학점수는 20점이다.

In [15]:
name = "안준현"
s = "내 이름은 {}이다."

print(s.format(name))

내 이름은 안준현이다.

In [21]:
name = "안준현"
hobby = "잠자기"
age = 25
s = "나는 {}살 {}이다. 내 취미는 {}이다."

print(s.format(age, name, hobby))

나는 25살 안준현이다. 내 취미는 잠자기이다.

In [ ]:
menu = input("오늘 뭐 먹을까? ")